{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Budget Plan!</h1>
  <ul>
    {% for spending in spending_list %}
      <li>

        {{ spending.pk }}
        {{ spending.name }}
        {{ spending.amount }}
        {{ spending.date }}
      </li>
    {% endfor %}
          Total expense is {{ total_expenses }}
          Total income is {{ total_income }}


    {% for expense in expenses %}
      <li>

        {{ expense.pk }}
        {{ expense.name }}
        {{ expense.amount }}
        {{ expense.date }}
      </li>
    {% endfor %}

  </ul>
  <ul>
    <li>

    </li>
    <li>

    </li>
  </ul>
{% endblock %}
