{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Budget Plan!</h1>
  <ul>
    {% for expense in expenses %}
      <li>
        {{ expense.pk }}
        {{ expense.name }}
        {{ expense.amount }}
        {{ expense.date }}
      </li>
    {% endfor %}
      <ul>
        <li>Total expense is {{ total_expenses.amount__sum|floatformat:2 }}</li>
      </ul>
  </ul>
  <ul>
    {% for income in incomes %}
      <li>
        {{ income.pk }}
        {{ income.name }}
        {{ income.amount }}
        {{ income.date }}
      </li>
    {% endfor %}
      <ul>
        <li>Total incomes is {{ total_incomes.amount__sum|floatformat:2 }}</li>
      </ul>
    Saving is {{ saving|floatformat:2  }}
  </ul>



{% endblock %}
