{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Budget Plan!</h1>
  <a class="btn btn-secondary" href="{% url 'income_create' %}" role="button">Create</a>
  <ul>
    {% for income in incomes %}
      <li>

        {{ income.pk }}
        {{ income.name }}
        {{ income.amount }}
        {{ income.date }}
        <a class="btn btn-success" href="{% url 'income_update' income.pk %}" role="button"> Update</a>
        <a class="btn btn-danger" href="{% url 'income_delete' income.pk %}" role="button"> Delete</a>

      </li>
    {% endfor %}
      <ul>
        <li>Total expense is {{ total_income.amount__sum|floatformat:2 }}</li>
        
      </ul>
  </ul>

{% endblock %}
